[submodule "extern/interflop"]
	path = extern/interflop
	url = https://github.com/a-hamitouche/interflop-stdlib.git
[submodule "extern/interflop-backend-ieee"]
	path = extern/interflop-backend-ieee
	url = https://github.com/a-hamitouche/interflop-backend-ieee.git
[submodule "extern/interflop-backend-verrou"]
	path = extern/interflop-backend-verrou
	url = https://github.com/a-hamitouche/interflop-backend-verrou.git
[submodule "extern/interflop-backend-vprec"]
	path = extern/interflop-backend-vprec
	url = https://github.com/a-hamitouche/interflop-backend-vprec.git
